@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto-v20-latin-500.woff2') format('woff2'), 
       url('../fonts/roboto-v20-latin-500.woff') format('woff'),
  src: local('Roboto Medium'), local('Roboto-Medium'),
        
      
      
}

@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/pt-serif-v11-latin-700.woff2') format('woff2'), 
       url('../fonts/pt-serif-v11-latin-700.woff') format('woff'),
  src: local('PT Serif Bold'), local('PTSerif-Bold'),
       
        
}